<html>
	<head>

		<title>Acciones ante la Búsqueda</title>

		<div>
			<a href="../logout">Logout</a>
			<a href="../menu">Menu</a>
		</div>
		
		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>

	</head>

	<body>
		<embed src="logout.html">

		<form method="post" action="/acciones" >
			<div>
				<select name="obs" required>
					<option value= "">  </option>
					
					{{#each accions }}				
						<option value= "{{ this }}"> {{ this }} </option>
					{{/each}}
				</select>
			
				<button type="submit" class="btn btn-default">Agregar</button>
			</div>
		</form>

		<table>
  			<tr>
    			<th>Acciones</th>
    		</tr>
  		
  			{{#each observadors }}
  				<tr>
    				<td> {{ this }} 	<a href="javascript:eliminarAccion('{{this}}');"> Eliminar </a></td> 
    			</tr>
			{{/each}}
		</table>

		<script type="text/javascript">
			function eliminarAccion(obs) {
				var xhttp = new XMLHttpRequest();
			
				xhttp.onreadystatechange = function(){
					if( this.readyState == 4)
						if( this.status == 500)
							window.location = "/login";
						else
							window.location = "/acciones";
				};
				xhttp.open("DELETE","/acciones/" + obs, false);
				xhttp.send();
			}
		</script>

	</body>
</html>