<html>
	<head>

		<title>CGP</title>

		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>

	</head>

	<body>
		<p><strong> {{ pdi }} </strong></p>

		<table>
  			<tr>
    			<th>Ícono</th>
    			<th>Dirección</th>
    			<th>Zona</th>
    		</tr>
  		
			<tr>
    			<td> {{ pdi.icono }} </td>
    			<td> {{ pdi.direccion }} </td>
    			<td> {{ pdi.comuna.zonasIncluidas }} </td>
    		</tr>
		</table>

		<p><strong> Servicios: </strong></p>
		
		{{#each servicios }}
		
			<p> {{ nombre }} </p>
		
			<table>
  				<tr>
    				<th>Horario</th>
    			</tr>
  		
  				{{#each horarios }}
  				
  					<tr>
    					<td> {{ this }} </td>
	    			</tr>
    			{{/each}}
			</table>
			
		{{/each}}
				
	</body>
</html>