<html>
	<head>

		<title>Registro de Búsqueda</title>

		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>
 		
	</head>

	<body>
		<p><strong>Detalle de PDIs</strong></p>

		<table>
  			{{#each pdis }}
  				<tr>
    				<td> {{ this }} </td>
    			</tr>
			{{/each}}
		</table>
	</body>
</html>