<html>
	<head>

		<title>Historial de Búsquedas</title>

		<div>
			<a href="../logout">Logout</a>
			<a href="../menu">Menu</a>
		</div>
		
		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>

		<script type="text/javascript">
			function popup(mylink, windowname) { 
    			if (! window.focus)return true;
    			
    			var href;
    			
    			if (typeof(mylink) == 'string')
    				href=mylink;
    			else
    				href=mylink.href; 
    			
    			window.open(href, windowname, 'width=600,height=500,scrollbars=yes'); 
    			
    			return false; 
  			}
  		</script>
  		
	</head>

	<body>
		<embed src="logout.html">

		<p><strong>Criterio de Búsqueda</strong></p>
		
		<form method="get" action="/historial" >
			<div>
				<label for="usuario">Usuario</label> 
				<input type="text" name="usuario" placeholder="Usuario" class="form-control" />
				
				<label for="fechaDesde">Fecha Desde</label> 
				<input type="date" name="fechaDesde" placeholder="Fecha" class="form-control" />

				<label for="fechaHasta">Fecha Hasta</label> 
				<input type="date" name="fechaHasta" placeholder="Fecha" class="form-control" />
				
				<button type="submit" class="btn btn-default">Buscar</button>
			</div>
		</form>

		<p><strong>Resultado</strong></p>
		
		<table>
  			<tr>
    			<th>Fecha</th>
    			<th>Usuario</th>
    			<th>Parámetros</th>
    			<th>PDIs</th>
    		</tr>
  		
  			{{#each busquedas }}
  				<tr>
    				<td>{{ fechaBusqueda }} {{ horaBusqueda }}</td>
    				<td>{{ nombreUsuario }}</td>
    				<td>{{ fraseBuscada }}</td>
    				<td><a href="../historial/{{ id }}" onClick="return popup(this, 'notes')"> {{ cantidadResultados }} </a></td> 
    			</tr>
			{{/each}}
		</table>

	</body>
</html>