<html>
	<head>

		<title>Local Comercial</title>

		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>

	</head>

	<body>
		<p><strong> {{ pdi }} </strong></p>

		<table>
  			<tr>
    			<th>Ícono</th>
    			<th>Dirección</th>
    			<th>Nombre de Fantasía</th>
    			<th>Rubro</th>
    		</tr>
  		
			<tr>
    			<td> {{ pdi.icono }} </td>
    			<td> {{ pdi.direccion }} </td>
    			<td> {{ pdi.nombreFantasia }} </td>
    			<td> {{ pdi.rubro }} </td>
    		</tr>
		</table>
				
	</body>
</html>