<html>
	<head>
		<title>Login</title>
	</head>

	<body>
		<form method="post" action="/login" >
			<div class="form-group">
				<label for="usuario">Nombre de Usuario</label> 
				<input type="text" name="usuario" placeholder="Usuario" class="form-control" />
			</div>
		
			<div class="form-group">
				<label for="password">Contraseña</label>
				<input type="password" name="password" placeholder="Contraseña" class="form-control" />
			</div>
		
			<button type="submit" class="btn btn-default">Entrar</button>
		</form>
		
			<p><b> {{ mensaje }} </b></p>

	</body>
</html>