<html>
	<head>
		<title>Menú Principal: {{ usuario.nombre }} </title>
		
		<a href="../logout">Logout</a>
	</head>

	<body>
		<p><strong>Seleccione una Acción</strong></p>
	
		{{#each accions }}
				<form action="../{{ this }}">
				 	<input type="submit" value= {{ this }} />
				</form>
		{{/each}}
				
	</body>
</html>