<html>
	<head>

		<title>Parada</title>

		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>

	</head>

	<body>
		<p><strong> {{ pdi }} </strong></p>

		<table>
  			<tr>
    			<th>Ícono</th>
    			<th>Dirección</th>
    		</tr>
  		
			<tr>
    			<td> {{ pdi.icono }} </td>
    			<td> {{ pdi.direccion }} </td>
    		</tr>
		</table>

		<p><strong> Lineas: </strong></p>
		
		{{#each lineas }}
		
			<table>
  				<tr>
    				<td> {{ this }} </td>
    			</tr>
			</table>
		
		{{/each}}
				
	</body>
</html>