<html>
	<head>

		<title>Búsqueda</title>

		<div>
			<a href="../logout">Logout</a>
			<a href="../menu">Menu</a>
		</div>
		
		<style>
			table {
    			font-family: arial, sans-serif;
    			border-collapse: collapse;
    		}

			td, th {
    			border: 1px solid #dddddd;
    			text-align: left;
    			padding: 8px;
			}

			tr:nth-child(even) {
    			background-color: #dddddd;
			}
		</style>

		<script type="text/javascript">
			function popup(mylink, windowname) { 
    			if (! window.focus)return true;
    			
    			var href;
    			
    			if (typeof(mylink) == 'string')
    				href=mylink;
    			else
    				href=mylink.href; 
    			
    			window.open(href, windowname, 'width=600,height=500,scrollbars=yes'); 
    			
    			return false; 
  			}
  		</script>
  		
	</head>

	<body>
		<embed src="logout.html">

		<p><strong>Criterio de Búsqueda</strong></p>

		<div>
			<input type="text" id="palabraNueva" placeholder="Frase Buscada"/>
			<button onclick="buscarPDIs()">Filtrar</button>
		</div>

		<table>
  			<tr>
    			<th>Frase Buscada</th>
    		</tr>
  		
  			{{#each words }}
  				<tr>
    				<td> {{ this }} </td>
    			</tr>
			{{/each}}
		</table>

		<p><strong>Resultado de la Búsqueda</strong></p>

		<table>
  			<tr>
    			<th>Nombre</th>
    			<th>Dirección</th>
    		</tr>
  		
  			{{#each pdis }}
  				<tr>
  					<td><a href="../pdis/{{ id }}" onClick="return popup(this, 'notes')"> {{ this }} </a></td>
    				<td> {{ direccion }} </td>
    			</tr>
			{{/each}}
		</table>

		<script type="text/javascript">
			function buscarPDIs() {
				window.location = "/pdis?fraseBuscada=" + document.getElementById("palabraNueva").value;
			}
		</script>
	</body>
</html>